.header {
  background-color: #ffc80a;
  // height: 100vh;
}

.ma {
  margin: auto !important;
}

body, p {
  font-family: $font-family-sans-serif;
  color: $dark;
}

h1, h2, h3, h4, h5, h6, p.heading {
  font-family: $font-family-headings;
}

.text-primary {
  color: $primary !important;
}

.text-white {
  color: white;
}

.text-gray {
  color: $dark;
}

.background-white {
  background-color: white;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn:hover {
  transition: all 0.5s ease;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: darken($primary, 10%);
  border-color: darken($primary, 10%);
  color: white;
}

.hidden {
  display: none;
}

a {
  color: $brand-primary;
}

a:hover, a:active, a:focus {
  color: darken($brand-primary, 15%);
}

.logo {
  display: block;
  margin: auto;
  max-width: 100px;
}

.hero {
  margin: auto;
  display: block;
  @media (min-width: 1140px) {
    max-width: 1140px;
  }
}

.why-subscribe {
  .title {
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }

  .features img {
    max-width: 200px;
  }
}

.text-aqua {
  color: $dark-aqua;
}

.subtitle, .headline {
  letter-spacing: 0.25em;
  color: white;
}

.subtitle {
  text-transform: uppercase;
}

.headline {
  font-size: 2.5em;
  @media (max-width: 543px) {
    font-size: 2.0em;
  }
  font-weight: 700;
  margin-bottom: 1rem;
}

.btn {
  border-radius: 20px;
}

.btn-yellow {
  background: $yellow;
  color: white;

  &:hover {
    background-color: darken($yellow, 15%);
  }
}

.btn-aqua {
  background: $dark-aqua;
  color: white;

  &:hover {
    background-color: darken($dark-aqua, 15%);
  }
}

.btn.subtitle {
  padding: 10px 20px;
}

.container-fluid {
  position: relative;
  top: 0px;
  left: 0px;
}

.bite-corner {
  position: absolute;
  right: 0px;
  top: 0px;

  .bite {
    max-width: 160px;
    height: auto;
    @media (max-width: 576px){
      max-width: 100px;
    }
  }
}

.contact-form {
  background: $yellow;

  .title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }

  .btn {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    display: block;
    margin: auto;
    padding: 10px 20px;
  }

  .link {
    color: $dark;

    &:hover {
      color: darken($dark, 15%);
    }
  }

  .fa-mobile {
    margin-right: 1.4rem;
  }

  .social-media .fa {
    font-size: 2em;
  }

  .error {
    color: #d9534f;
    font-size: 80%;
    font-weight: 700;
  }

  .alert-success {
    background-color: $limegreen;
    border-color: $limegreen;
    color: white;
  }
}

#mc_embed_signup p.title {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.mailchimp {
  text-align: center;

  input.email, input.name {
    width: 90%;
    @media (min-width: 1281px) {
      max-width: 550px;
    }
    height: 40px;
    background-color: white;
    border: 0px;
    border-radius: 36px;
    text-align: center;
    padding: 8px;
    color: $dark-aqua;
    position: relative;
  }

  input.email {
    @media (min-width: 576px) {
      left: 20px;
    }
  }

  button.subscribe {
    position: relative;
    left: -25px;
    top: -2px;
    padding: 6px 7px;
  }

  .fa-paper-plane {
    font-size: 18px;
  }
}