// Variables

$brand-primary: #e8817b;
$primary: #e8817b;
$light: #efefef;

// Z-index

$z0: 0;
$z1: 9;
$z2: 99;
$z3: 999;
$z4: 9999;
$z5: 99999;
$z6: 999999;
$z7: 9999999;
$z8: 99999999;

// Bootstrap Variables
$font-family-headings: "Playfair Display", Helvetica, Arial, sans-serif;
$font-family-sans-serif: "Karla", Helvetica, Arial, sans-serif;
$enable-rounded: true;
$enable-transitions: true;
