// Variables

$brand-primary: #8db650;
$primary: #8db650;

$limegreen: #a6c561;
$light: #efefef;
$secondary: #ffc80a;
$orange: #e7631e;
$dark-aqua: #48ac98;
$yellow: #ffc80a;
$light-green: #72b786;
$dark: #707070;

// Z-index

$z0: 0;
$z1: 9;
$z2: 99;
$z3: 999;
$z4: 9999;
$z5: 99999;
$z6: 999999;
$z7: 9999999;
$z8: 99999999;

// Bootstrap Variables
$font-family-headings: "Montserrat", Helvetica, Arial, sans-serif;
$font-family-sans-serif: "Montserrat", Helvetica, Arial, sans-serif;
$enable-rounded: true;
$enable-transitions: true;
