---
title: Raw Bites
---

<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-6 col-offset-md-3 content col-xs-10'>
      <%= image_tag('logo.svg', :class =>'logo img-fluid text-xs-center') %>
      <p class='subtitle text-center'>The first healthy snack subscription box service in the Philippines </p>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <p class='text-center title'>Sign up for the latest news and updates</p>
      <form action="//rawbites.us14.list-manage.com/subscribe/post?u=5477570f5e43c88e3c0fbf888&amp;id=217f26d69e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class='mailchimp'>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address here" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5477570f5e43c88e3c0fbf888_217f26d69e" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe btn btn-primary btn-sm"></div>
          </div>
      </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
