// Global styles

// Fonts

body, p {
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5, h6, p.heading {
  font-family: $font-family-headings;
}

.text-primary {
  color: $primary !important;
}

.text-center {
  text-align: center;
}

.background-white {
  background-color: white;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn:hover {
  transition: all 0.5s ease;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: darken($primary, 10%);
  border-color: darken($primary, 10%);
  color: white;
}

.hidden {
  display: none;
}

a {
  color: $brand-primary;
}

a:hover, a:active, a:focus {
  color: darken($brand-primary, 15%);
}

#about em, #works em {
  font-family: $font-family-headings;
  font-style: italic;
  font-size: 110%;
}

p {
  @include media-breakpoint-down(sm) {
    font-size: 0.9em;
  }
}
