.navbar {
  background: white;
}

.navbar-brand .title {
  letter-spacing: 0.1em;
}

.navbar {
  @include media-breakpoint-down(sm) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navbar-toggler:focus, .navbar-toggler:hover {
  outline: none;
}